		

body {
    background-color: #111;
	margin: 0;    
}


#content {
    padding: 15px;
}

#header {
    font-size: 80px;
    color: #87CEEB;
    text-align: center;
    font-family: 'Play', sans-serif;
}




main {
	display: flex;
	width: 1000px;
	margin: 0 auto;
}
article {
	border-width: 20px;
	border-radius: 5px;
	border-style: solid;
	border-color: red;
	margin: 30px;
	
}

img {
	width: 400px;
	height: 400px;
}

