

body {
    background-color: #111;
    font-family: verdana;
    font-size: 14px;
	margin: 0;    
}


#content {
    padding: 15px;
}

#header {
    font-size: 30px;
    color: green;
    text-align: center;
    background-color: red;
}




#header a {
    color: blue;
    font-variant: small-caps;
    text-decoration: none;
}



main {
	display: flex;
}
article {
	border: 20px;
	border-radius: 5px;
}


