.active {
    background-color: #1188cc;
    color: #fff;    
}

body {
    background-color: #1188cc;
    font-family: verdana;
    font-size: 14px;
	margin: 0;    
}

#breadcrumbs {
    padding: 15px;
}

#breadcrumbs a {
    color: #1188cc;
    text-decoration: none;
}

#breadcrumbs a:hover {
    text-decoration: underline;
}

.centertag {
    margin: 0 auto;
}

#container {
    background-color: #fff;
    margin: 0 auto;
    width: 1200px;
}

#content {
    padding: 15px;
}

#header {
    font-size: 4em;
    padding: 10px 0px;    
    text-align: center;
}

#footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}

#footer a:hover {
    text-decoration: none;
}

.formbuttons {
    margin-top: 15px;
}

#header a {
    color: #1188cc;
    font-variant: small-caps;
    text-decoration: none;
}

#header a:hover {
    color: #000;
}

#headersubtext {
    font-size: 0.5em;
}

#headersubtext a {
    color: #1188cc;
    text-decoration: none;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #1188cc;
    border-color: #1188cc;
    color: #fff;;
    font-family: verdana;
    font-size: 1.1em;
}

input[type=email],
input[type=password],
input[type=text],
select {
    background-color: #fff;
    border-color: #000; 
    color: #000;
    font-family: verdana;
    font-size: 1.1em;
    margin: 0.1em;
    padding-left: 0.2em;
}

label {
    padding-right: 10px;
}

#menu {
    background-color: #000;
}

.menuitem a {
    color: #fff;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.menuitem a:hover {
    background-color: #1188cc;
    color: #fff;
}

table, td, tr {
	border-collapse: collapse;
    padding: 0;
}

td {
    height: 1.8em;
}

.textcenter {
    text-align: center;
}

#topmenu {
    background-color: #000;
    color: #fff;
    font-size: 0.8em;
    padding: 5px;
    text-align: right;
}

.topmenuitem a {
    color: #fff;
    text-decoration: none;
}

.topmenuitem a:hover {
    text-decoration: underline;
}

.overview td, .overview th {
    padding: 0px 10px;
    text-align: left;
}
